{% extends "administrator/base.html" %}
{% load static %}
{% load filters %}
{% block title %}Administrator - Fields{% endblock %}
{% block title_header %}LIST FIELDS{% endblock  %}
{% block content %}
<div class="container-fluid text-center">
    <!-- NEW FIELD -->
    <div class="col-12 m-2">
        <a href="{% url 'administrator:field_create' %}">
            <button class="btn btn-success btn-block"><i class="fa fa-plus" aria-hidden="true"></i> NEW FIELD </button>
        </a>
    </div>
</div>
    <!--// NEW experience -->

<!-- TABLE EXPERIENCE RESPONSIVE -->
<div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% if fields %}
            {% for field in fields%}
                <tr>
                    <th scope="row">{{field.id}}</th>
                    <td>{{field.name}}</td>
                    <td></td>
                    <td><a href="{% url 'administrator:field_update' field.pk %}" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#expModal{{ field.pk }}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button></td>
                    <!-- The Modal -->
                    <div class="modal" id="expModal{{ field.pk }}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title">Field Delete {{ field.pk }} </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                              
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="{% url 'administrator:field_delete' field.pk %}" method="post">
                                        {% csrf_token %}
                                        <p> Do you want to delete "{{ field.name }}" Field ? </p>
                                        <input type="submit" class="btn btn-success" value="Confirm">
                                    </form>
                                </div>
                              
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </tr>
            
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
</div>

<!--// TABLE EXPERIENCE RESPONSIVE -->

{% endblock %}