{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Administrator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Icons - Favicon -->
    <link rel="shortcut icon" href="{% static 'admin/img/favicon.ico' %}" />
    <link rel="icon" href="{% static 'admin/img/favicon.ico' %}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FontAwesome v5.1.0 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
  </head>
  <body>

    <!-- NAV BAR --> 
    
    <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm text-center">
      <!--<a class="navbar-brand" href="/main">LOGO</a>-->
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <!--<a class="nav-link {# active 'main' #}" href="{# url 'main' #}">Home <span class="sr-only">(current)</span></a>-->
                  <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/aboutme">About Me</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cv">CV</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/skills">Skills</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="/files">Cloud Files</a>
              </li>
          </ul>
      </div>
    </nav>    
  
  <!--// NAV BAR -->

  <!-- LOGIN FORM -->
    <div class="jumbotron bg-light">
      <div class="container col-12 col-md-6 justify-content-center">
        <form action="{% url 'administrator:viewlogin' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="Username">Username</label>
            <div class="input-group">
              <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" value="{{username}}">
              <div class="invalid-feedback">
                  Please put a username.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="{{password}}">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberme">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>
          {% if loginfail is True %}
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> The Username or Password are invalid!
          </div>
          {% endif %}     
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>            
      </div>
    </div>

  <!--// LOGIN FORM -->
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>