{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %}Skills{% endblock %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}

{% block nav_bar %}
    {% include "nav-bar-dark.html" %}
{% endblock nav_bar %}

{% block content %}

<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        {% with lengthArray=skills_list|length numImages=5 cont=0 %}

            {% if lengthArray > 0 and lengthArray|imagesPerSlide:numImages <= 1 %}
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            {% else %}
                {% for i in lengthArray|rangeImagesPerSlide:numImages %} 
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{i}}" {% if i == 0 %} class="active" {% endif %}></li>
                {% endfor %}
            {% endif %}
    </ol>
    <div class="carousel-inner">
            
            {% for skill in skills_list %}
                {% if forloop.counter0 == 0 or forloop.counter0|remainder:numImages == 0 %}
                    {% if forloop.counter0|remainder:numImages == 0 and forloop.counter0 != 0  %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                        <div class="container">
                    
                {% endif %}

                {# Conditional Tree Perform & Improve this code-section #}
                {% if forloop.counter0 == 0 or forloop.counter0 == 5 or forloop.counter0 == 10 or forloop.counter0 == 15 or forloop.counter0 == 20 or forloop.counter0 == 30 %}
                    <img src='{{ skill.image | formatStatic }}' class="img-fluid float-left ml-5 ml-md-0" style="width: 200px; height: 200px;" alt='{{skill.image}}'/>
                {% elif forloop.counter0 == 1 or forloop.counter0 == 6 or forloop.counter0 == 11 or forloop.counter0 == 16 or forloop.counter0 == 21 or forloop.counter0 == 31 %}
                    <img src='{{ skill.image | formatStatic }}' class="img-fluid float-left d-none d-sm-block" style="width: 200px; height: 200px;" alt='{{skill.image}}'/>
                {% elif forloop.counter0 == 2 or forloop.counter0 == 7 or forloop.counter0 == 12 or forloop.counter0 == 17 or forloop.counter0 == 22 or forloop.counter0 == 32 %}
                    <img src='{{ skill.image | formatStatic }}' class="img-fluid d-none d-md-block float-left" style="width: 200px; height: 200px;" alt='{{skill.image}}'/>
                {% elif forloop.counter0 == 3 or forloop.counter0 == 8 or forloop.counter0 == 13 or forloop.counter0 == 18 or forloop.counter0 == 23 or forloop.counter0 == 33 %}
                    <img src='{{ skill.image | formatStatic }}' class="img-fluid d-none d-md-block float-left" style="width: 200px; height: 200px;" alt='{{skill.image}}'/>
                {% elif forloop.counter0 == 4 or forloop.counter0 == 9 or forloop.counter0 == 14 or forloop.counter0 == 19 or forloop.counter0 == 24 or forloop.counter0 == 34 %}
                    <img src='{{ skill.image | formatStatic }}' class="img-fluid d-none d-xl-block float-left" style="width: 200px; height: 200px;" alt='{{skill.image}}'/>
                {% else %}
                    <img src='{{ skill.image | formatStatic }}' class="img-fluid float-left ml-5 ml-md-0" style="width: 200px; height: 200px;" alt='{{skill.image}}'/>
                {% endif %}
                    
            {% endfor %}
                </div>
            </div>

        {% endwith %}
                        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--// Carousel -->

<!-- Charts -->

    <div class="container-fluid">
        <div class="row mt-4">
                <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-4">
                <!-- Pie Chart -->
                <canvas id="myPieChart" width="400" height="340"></canvas>
            </div>

            <div class="col-12 col-md-6">
                <!-- Skill Technologies Bars -->
                <h2>My Skills</h2>
                {% for skill in skills_list %}
                    <h5 class="text-muted">{{skill.name}}</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.percentage}}%;background-color: {{ skill.color }}"></div>    
                    </div>    
                {% endfor %}
                <!--// Skill Technologies Bars -->
            </div>
            <div class="col-12 col-md-1"></div>
        </div>
        <hr class="w-50">

        <!-- Quote -->
        <div class="row mt-5 mb-5">
            <div class="container">
                <blockquote class="blockquote">
                    <p class="mb-0">{% lorem 1 %}</p>
                    <footer class="blockquote-footer">Robert C. Martin<cite title="Clean Code">Clean Code</cite></footer>
                </blockquote>
            </div>
        </div>
        <hr class="w-50">

        <!-- Radar Chart -->
        <div class="row mb-3">
            <div class="container">
                <div class="col-12">
                        <canvas id="myRadarChart"></canvas>
                </div>
            </div>
        </div>
        
    </div>

<!--// Charts -->

{% endblock %}

{% block js_links %}
<script src="{% static 'skills/vendor/Chart.bundle.js' %}"></script>
{% endblock %}

{% block scripts %}

<script>
    var ctxPie = document.getElementById("myPieChart").getContext('2d');
    var ctxRadar = document.getElementById("myRadarChart").getContext('2d');
    
    // Pie Chart Configuration - http://www.chartjs.org/docs/latest/charts/doughnut.html
    var configPie = {
        type: 'pie',
        data: {
            labels: {% autoescape off %}{{ data_labels }}{% endautoescape %},
            datasets: [{
                data: {{ data_chart }},
                backgroundColor: {% autoescape off %}{{ data_colors }}{% endautoescape %},
                // hoverBorderColor: ['Grey', 'Grey', 'Grey'],
                hoverBackgroundColor: {% autoescape off %}{{ data_hover_colors }}{% endautoescape %},
                // hoverBorderWidth: [5, 5, 5],
                // borderWidth: [20, 20, 20],
                // borderColor: ['Red', 'Red', 'Red'],
                label: 'General Skills'
            }]
        },
        options: {
            responsive: true,
            tooltips: {
                enabled: true,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItem, data) {
                        return data.datasets[0].data[tooltipItem.index] + ' %';
                    }
                }
            },
            // rotation: 120,
            // circumference: 8,
            // animateScale: true
        }
    };

    // Radar Chart configuration - http://www.chartjs.org/docs/latest/charts/radar.html#pointstyle
    var configRadar = {
        type: 'radar',
        data: {
            labels: {% autoescape off %}{{ data_labels }}{% endautoescape %},
            datasets: [{
                label: 'Professional Skills',
                data: {{ data_chart }},
                backgroundColor: {% autoescape off %}{{ data_colors }}{% endautoescape %},
                pointStyle: 'circle'
            }]
        },
        options: {
            scale: {
                // Hides the scale
                display: true
            }
        }
    };

    var myPieChart = new Chart(ctxPie, configPie);
    var myRadarChart = new Chart(ctxRadar, configRadar);

</script>

{% endblock %}