{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %} Blog: {{ Post.title }} {% endblock  %}
    
{% block css_links %}

    <!-- Canonical -->
    <link rel="canonical" href="/web/tweet-button">

    <!-- My Links References -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />

{% endblock %}

{% block pre_nav %}
<!-- Sticky Social Bar -->
    <div class="icon-bar">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
        <a href="#" class="google"><i class="fa fa-google"></i></a> 
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
    </div>
{% endblock %}

{% block nav_bar %}
    {% include "nav-bar-dark.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="container">
                
            <!-- Section & Title-->
            <div class="row">
                <div class="col-12"><h2 class="text-muted">{{ Post.section }}</h2></div>
                <div class="col-12"><h1 class="display-3">{{ Post.title }}</h1></div>
            </div>

            <hr>

            <!-- Author -->
            <div class="row">
                <div class="col-12 text-center text-md-left">
                    <h3><i class="fa fa-user-circle"></i> By {{ Post.author }}</h3>
                    <p class="mt-3 mb-3"><i class="fa fa-calendar"></i> &nbsp;&nbsp; {{ Post.date }} </p>
                </div>
            </div>


            <!-- Share Social Networks -->
            <div class="row mt-3 mb-3">
                <div class="col-12 d-flex justify-content-around">
                        <a class="circle-button" href="javascript:fbShare('{{ Post.title }}', 'Fb Share', 'Facebook share popup', '{{ Post.title }}', 520, 350)" style="background-color: #3b5999"><i class="fa fa-facebook-f icon-circle-f"></i></a>
                        <a class="circle-button" href="https://twitter.com/intent/tweet?text={{ Post.title }}" target="_blank" style="background-color: #55acee"><i class="fa fa-twitter icon-circle-t"></i></a>       
                        <a class="circle-button" href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title={{ Post.title }}&summary={{ Post.title }}" style="background-color: #0077B5"><i class="fa fa-linkedin icon-circle-t"></i></a>       
                        <a class="circle-button" href="https://www.instagram.com/" style="background-color: #e4405f"><i class="fa fa-instagram icon-circle-t"></i></a>       
                        <a class="circle-button" href="mailto:r.gc@hotmail.es?subject={{Post.title}}?body={{Post.textcontent}}" style="background-color: #131418"><i class="fa fa-envelope icon-circle-em"></i></a>       
                        <!--    <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <line x1="40" y1="20" x2="80" y2="20" style="stroke: black;"/>
                            <line x1="0.7cm" y1="1cm" x2="0.7cm" y2="2.0cm"
                                style="stroke: black;"/>
                            <line x1="30" y1="30" x2="85" y2="85" style="stroke: black;"/>
                        </svg>      
                    -->             
                </div>
            </div>

            <hr>

            <!-- Main Content -->
            <div id="content" class="p-4 mt-2 mb-4">            
                {% autoescape off %}{{ Post.content }}{% endautoescape %}
            </div>

             <!-- Tags -->
             <div class="mt-2 mb-4">
                 <p class="text-muted">{{ Post.tags | replaceTagsAboutme }} </p>
             </div>

            <!-- DISQUS Third Party-->
            <div id="disqus_thread"></div>
            <script>
        
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = '{{get_current_site}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{Post.idpost}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://rafagc.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
        </div>
    </div>
{% endblock %}
    
{% block js_links %}
    <script id="dsq-count-scr" src="//rafagc.disqus.com/count.js" async></script>
    <script src="{% static 'main/js/init.js' %}"></script>
    <script src="{% static 'blog/js/share-action-buttons.js' %}"></script>
{% endblock %}
