{% load static %}
{% load filters %}
<!doctype html>
<html lang="en">
  <head>
    <title>Detail Blog: {{ Post.idpost }} </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons - Favicon -->
    <link rel="shortcut icon" href="{% static 'admin/img/favicon.ico' %}" />
    <link rel="icon" href="{% static 'admin/img/favicon.ico' %}" type="image/x-icon" />
    
    <!-- Canonical -->
    <link rel="canonical" href="/web/tweet-button">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- My Links References -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />

  </head>
  <body>

    <!-- Sticky Social Bar -->
    <div class="icon-bar">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
        <a href="#" class="google"><i class="fa fa-google"></i></a> 
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
    </div>

    <!-- NAV BAR --> 
    <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm text-center">
        <!--<a class="navbar-brand" href="/main">LOGO</a>-->
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!--<a class="nav-link {# active 'main' #}" href="{# url 'main' #}">Home <span class="sr-only">(current)</span></a>-->
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cv">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/skills">Skills</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/files">Cloud Files</a>
                </li>
            </ul>
        </div>
    </nav>    
    
    <!--// NAV BAR -->
    
    <!-- POST - CONTENT -->
    <div class="container-fluid mt-3">
        <div class="container">
            
            <!-- Section & Title-->
            <div class="row">
                <div class="col-12"><h2 class="text-muted">{{ Post.section }}</h2></div>
                <div class="col-12"><h1 class="display-3">{{ Post.title }}</h1></div>
            </div>

            <hr>

            <!-- Author -->
            <div class="row">
                <div class="col-12 text-center text-md-left">
                    <h3><i class="fa fa-user-circle"></i> By {{ Post.author }}</h3>
                    <p class="mt-3 mb-3"><i class="fa fa-calendar"></i> &nbsp;&nbsp; {{ Post.date }} </p>
                </div>
            </div>


            <!-- Share Social Networks -->
            <div class="row mt-3 mb-3">
                <div class="col-12 d-flex justify-content-around">
                        <a class="circle-button" href="javascript:fbShare('{{ Post.title }}', 'Fb Share', 'Facebook share popup', '{{ Post.title }}', 520, 350)" style="background-color: #3b5999"><i class="fa fa-facebook-f icon-circle-f"></i></a>
                        <a class="circle-button" href="https://twitter.com/intent/tweet?text={{ Post.title }}" target="_blank" style="background-color: #55acee"><i class="fa fa-twitter icon-circle-t"></i></a>       
                        <a class="circle-button" href="https://www.linkedin.com/shareArticle?mini=true&url=http://developer.linkedin.com&title={{ Post.title }}&summary={{ Post.title }}" style="background-color: #0077B5"><i class="fa fa-linkedin icon-circle-t"></i></a>       
                        <a class="circle-button" href="https://www.instagram.com/" style="background-color: #e4405f"><i class="fa fa-instagram icon-circle-t"></i></a>       
                        <a class="circle-button" href="mailto:r.gc@hotmail.es?subject={{Post.title}}?body={{Post.textcontent}}" style="background-color: #131418"><i class="fa fa-envelope icon-circle-em"></i></a>       
                        <!--    <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                            <line x1="40" y1="20" x2="80" y2="20" style="stroke: black;"/>
                            <line x1="0.7cm" y1="1cm" x2="0.7cm" y2="2.0cm"
                                style="stroke: black;"/>
                            <line x1="30" y1="30" x2="85" y2="85" style="stroke: black;"/>
                        </svg>      
                    -->             
                </div>
            </div>

            <hr>

            <!-- Main Content -->
            <div id="content" class="p-4 mt-2 mb-4">            
                {% autoescape off %}{{ Post.content }}{% endautoescape %}
            </div>

             <!-- Tags -->
             <div class="mt-2 mb-4">
                 <p class="text-muted">{{ Post.tags | replaceTagsAboutme }} </p>
             </div>

    <!-- DISQUS Third Party-->
            <div id="disqus_thread"></div>
            <script>
        
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = '{{get_current_site}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{Post.idpost}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://rafagc.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        </div>
    </div>

    <!--// POST - CONTENT -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script id="dsq-count-scr" src="//rafagc.disqus.com/count.js" async></script>
    <script src="{% static 'main/js/init.js' %}"></script>
    <script src="{% static 'blog/js/share-action-buttons.js' %}"></script>
  </body>
</html>