{% load static %}
{% load filters %}
{# include 'blog/blogdetail.html' #}
<!doctype html>
<html lang="en">
  <head>
    <title>BLOG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons - Favicon -->
    <link rel="shortcut icon" href="{% static 'admin/img/favicon.ico' %}" />
    <link rel="icon" href="{% static 'admin/img/favicon.ico' %}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FontAwesome v5.1.0 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />
  </head>
  <body>

    <!-- NAV BAR --> 
    
    <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm text-center">
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand col-8 col-md-3" href="/"><img src="{% static 'admin/img/logo.png' %}" class="w-50 " alt="Logo"></a>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% active '' %}" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active 'blog' %}" href="/blog">Blog <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active 'aboutme' %}" href="/aboutme">About Me <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active 'cv' %}" href="/cv">CV <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active 'skills' %}" href="/skills">Skills <span class="sr-only"></span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% active 'files' %}" href="/files">Cloud Files <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>    
    
    <!--// NAV BAR -->
    
    {#My First for in Python !! 🎉🎉#}
    <h1 class="display-3 text-center pb-3 pt-3">List of My Posts </h1>
    
    <div class="container-fluid">
      <div class="container">

      {% for post in all_posts %}

            <a href="{% url 'blog:blogdetail' post.idpost %}">
                <div class="row shadowbox mb-5">
                    <div class="col-3 p-0">
                        <img src="{{ post.image | formatStatic }}" alt="" class="img-fluid"/>
                    </div>
                    <div class="col-9">
                        <!--Title -->
                        <h2>{{ post.title }}</h2>
                        <!--Content-->
                        <p>{{ post.textcontent|limitext }}</p>
                        <!--Author & Date-->
                        <div class="row justify-content-around">
                            <div class="col-12 col-md-3 text-center text-md-left"><p><small class="text-muted"><i class="fas fa-user"></i> {{ post.author }} </small></p></div>
                            <div class="col-12 col-md-3 text-center text-md-left">
                                <p>
                                    {% for tag in post.tags_as_list %}
                                        <small class="text-muted"><i class="fas fa-tags"></i> {{ tag }} </small>
                                    {% endfor %}
                                </p>
                            </div>
                            
                            <div class="col-12 col-md-3 text-center text-md-left"><p><small class="text-muted"><i class="far fa-clock"></i> {{ post.date }} </small></p></div>
                        </div>
                    </div>
                </div>
            </a>
      {% endfor %}

    </div>
  </div> 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>