{% extends "base.html" %}
{% load static %}
{% load filters %}
{# include 'blog/blogdetail.html' #}
{% block title %}Blog{% endblock %}
{% block css_links %}
<!-- FontAwesome v5.1.0 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<!-- My Css -->
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}

{% block nav_bar %}
{% include "nav-bar-dark.html" %}
{% endblock %}

{% block content %}
<div class="container">

    {# My First for in Python !! 🎉🎉#}
    <h1 class="display-3 text-center pb-3 pt-3">List of My Posts </h1>
    <div class="card-columns">

        {% for post in all_posts %}

        <div class="card shadowbox mb-5">
            <a href="{% url 'blog:blogdetail' post.idpost %}">

                <img src="{{ post.image | formatStatic }}" alt="" class="card-img-top" />
                <div class="card-body">
                    <!--Title -->
                    <h2 class="card-title">{{ post.title }}</h2>
                    <!--Content-->
                    <p class="card-text">{{ post.textcontent|limitext }}</p>
                    <!--Author & Date-->
                    <div class="card-footer">
                        <div class="row justify-content-around">
                            <div class="col-12 col-md-3 text-center text-md-left">
                                <p><small class="text-muted"><i class="fas fa-user"></i> {{ post.author }} </small></p>
                            </div>
                            <div class="col-12 col-md-3 text-center text-md-left">
                                <p>
                                    {% for tag in post.tags_as_list %}
                                    <small class="text-muted"><i class="fas fa-tags"></i> {{ tag }} </small>
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="col-12 col-md-3 text-center text-md-left">
                                <p><small class="text-muted"><i class="far fa-clock"></i> {{ post.date }} </small></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock  %}