{% extends "administrator/base.html" %}
{% load static %}
{% load filters %}
{% block title %}Administrator - Educations{% endblock %}
{% block title_header %}LIST EDUCATIONS{% endblock  %}
{% block content %}
<div class="container-fluid text-center">
    <!-- NEW EDUCATION -->
    <div class="col-12 m-2">
        <a href="{% url 'administrator:education_create' %}">
            <button class="btn btn-success btn-block"><i class="fa fa-plus" aria-hidden="true"></i> NEW EDUCATION </button>
        </a>
    </div>
</div>
    <!--// NEW EDUCATION -->

<!-- TABLE EDUCATION RESPONSIVE -->
<div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">University</th>
          <th scope="col">Certification</th>
          <th scope="col">Academic Discipline</th>
          <th scope="col">Start date</th>
          <th scope="col">End Date</th>
          <th scope="col">CV</th>
          <th scope="col">Order</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% if educations %}
            {% for education in educations%}
                <tr>
                    <th scope="row">{{education.id}}</th>
                    <td>{{education.university}}</td>
                    <td>{{education.certification}}</td>
                    <td>{{education.academic_discipline}}</td>
                    <td>{{education.startdate}}</td>
                    <td>{{education.finaldate}}</td>
                    <td>{{education.cv_education}}</td>
                    <td>{{education.order}}</td>
                    <td><a href="{% url 'administrator:education_update' education.pk %}" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#expModal{{ education.pk }}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button></td>
                    <!-- The Modal -->
                    <div class="modal" id="expModal{{ education.pk }}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                <h4 class="modal-title">education Delete {{ education.pk }} </h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                              
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form action="{% url 'administrator:education_delete' education.pk %}" method="post">
                                        {% csrf_token %}
                                        <p> Do you want to delete "{{ education.certification }}" Education ? </p>
                                        <input type="submit" class="btn btn-success" value="Confirm">
                                    </form>
                                </div>
                              
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </tr>
            
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
</div>


<!--// TABLE education RESPONSIVE -->

{% endblock %}