{% extends "administrator/base.html" %}
{% load static %}
{% load filters %}
{% block title %}Administrator - AboutMe{% endblock %}
{% block title_header %}ABOUT ME VARIABLES{% endblock  %}

{% block css_links %}
    <!-- Froala Editor Dependencies -->
    <!-- Include external CSS. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- Tags Editor - https://goodies.pixabay.com/jquery/tag-editor/demo.html -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/jQuery-tagEditor/jquery.tag-editor.css' %}" />
{% endblock  %}

{% block content %} 
    
    <div class="container-fluid">
        <div class="container">
            <div class="row">
              
                <!-- ABOUT ME FORM -->
                <form class="col-12" action="{% url 'administrator:saveaboutme' Me.id %}" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" name="name" value="{{ Me.name }}"></input><br><br>

                        <label for="title">Title</label>
                        <input type="text" id="title" class="form-control" name="title" value="{{ Me.title }}"></input><br><br>
                        <label for="location">Location</label>
                        <input type="text" id="location" class="form-control" name="location" value="{{ Me.location }}"></input><br><br>

                        {# Implement & Apply https://www.froala.com/wysiwyg-editor HTML Edito Framework#}
                        <!-- Create a tag that we will use as the editable area. -->
                        <!-- You can use a div tag as well. -->

                        <label for="biography">Biography</label>
                        <div id="froala_editor">{% autoescape off %}{{ Me.bio }}{% endautoescape %}</div>
                        <small id="fill" class="form-text text-muted"> Make your Awesome Bio!!</small><br><br>

                        <label for="tags">Tags</label>
                        <textarea id="tags_textarea">
                        </textarea><br>
                        <label for="title">Work</label>
                        <input type="text" id="work" class="form-control" name="work" value="{{ Me.work }}"></input><br><br>
                        <label for="title">Education</label>
                        <input type="text" id="education" class="form-control" name="education" value="{{ Me.education }}"></input><br><br>
                        <label for="title">Twitter Url</label>
                        <input type="text" id="twitter_url" class="form-control" name="twitter_url" value="{{ Me.twitter_url }}"></input>
                        <p class="small">&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="{{ Me.twitter_url }}" target="_blank">{{ Me.twitter_url }}</a></u></p><br>

                        <label for="title">Linkedin Url</label>
                        <input type="text" id="linkedin_url" class="form-control" name="linkedin_url" value="{{ Me.linkedin_url }}"></input>
                        <p class="small">&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="{{ Me.linkedin_url }}" target="_blank">{{ Me.linkedin_url }}</a></u></p><br>

                        <label for="title">GitHub Url</label>
                        <input type="text" id="github_url" class="form-control" name="github_url" value="{{ Me.github_url }}"></input>
                        <p class="small">&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="{{ Me.github_url }}" target="_blank">{{ Me.github_url }}</a></u></p><br>
                        <label for="title">Email</label>
                        <input type="text" id="email" class="form-control" name="email" value="{{ Me.email }}"></input>
                        <p class="small">&nbsp;&nbsp;&nbsp;&nbsp;<u><a href="mailto:{{ Me.email }}">{{ Me.email }}</a></u></p><br>

                        <input type="hidden" id="bio" name="bio">
                        <input type="hidden" id="tags" name="tags">

                        <button type="submit" id="save" class="btn btn-success btn-block mb-5"> Submit </button>
                    </div>
                </form>
                
                <!--// ABOUT ME FORM -->
                
            </div>
        </div>
    </div>
{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% block js_links %}
    <!-- Froala Editor Javascript -->
    <!-- Include Editor JS files. -->    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>

    <!-- Tag editor JS Files -->
    <script type="text/javascript" src="{% static 'blog/vendor/jQuery-tagEditor/jquery.tag-editor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/vendor/jQuery-tagEditor/jquery.caret.min.js' %}"></script>
    
    <script src="{% static 'main/js/init.js' %}"></script>
{% endblock  %}     

{% block scripts %}
        <!-- Initialize the editor. -->
        <script>
            $(function() { 
            $('#froala_editor').froalaEditor() 
            //$('#froala_editor').froalaEditor('html.set', '{{Post.content}}');
            
                // When do the Submit of EditForm, Assign the html.get of FroalaEditor to Hidden input with id=content  
                $("form").submit(function( event ) {
                    var contentValue = $('#froala_editor').froalaEditor('html.get');
                    var tagsValue = $('#tags_textarea').tagEditor('getTags')[0].tags;
                    tagsValue = tagsValue.toString().split(',');
    
                    var tags = "" 
                    tagsValue.forEach(function(tag) {
                         var tagModified = "'" + tag + "'";
                         tags += tagModified + ',';
                    });
                    tags = tags.substr(0, tags.length - 1);
    
                    $('#bio').val(contentValue);
                    $('#tags').val(tags);
    
                });
            }); 
        </script>
        
        <!-- Tag Editor -->
        <script>
            $('#tags_textarea').tagEditor({
                clickDelete: true,
                initialTags: [{% autoescape off %} {{ Me.tags }} {% endautoescape %}],
                //initialTags: ['Hello', 'World'],
                delimiter: ',', /* space and comma */
                placeholder: 'Enter tags ...'
            });
    
        </script>
{% endblock  %}