{% extends "administrator/base.html" %}
{% load static %}
{% load filters %}
{% block title %}Administrator - Blog{% endblock %}
{% block title_header %}LIST POSTS{% endblock  %}
{% block content %}
<div class="container-fluid text-center">
    <!-- NEW POST -->
    <div class="col-12 m-2">
        <form action="{% url 'administrator:blognew' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-success btn-block"><i class="fa fa-plus" aria-hidden="true"></i> NEW POST </button>
        </form>
    </div>
</div>
    <!--// NEW POST -->

<!-- TABLE RESPONSIVE -->
<div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Section</th>
          <th scope="col">Author</th>
          <th scope="col">Tags</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
    
          {% for post in posts%}
            <tr>
              <th scope="row">{{post.idpost}}</th>
              <td>{{post.title}}</td>
              <td>{{post.section}}</td>
              <td>{{post.author}}</td>
              <td>{{post.tags|replace}}</td>
              <td>{{post.date}}</td>
              <td><a href="{% url 'administrator:blogedit' post.idpost %}" class="btn btn-warning" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
              <td><a href="{% url 'administrator:blogremove' post.idpost %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
        
          {% endfor %}
      </tbody>
    </table>
</div>


<!--// TABLE RESPONSIVE -->

{% endblock %}

{% block scripts %}
    
    {% if loginfail is False %}
        <script>
            $(document).ready (function(){
            $.growl.notice({ title: "Login Successful", message: "Welcome Administrator!", location:'br' });
            });
        </script>
    {% endif %}

{% endblock  %}