/*---------------------------------------------------------------------*/
/*-----------------------------   GENERAL  ----------------------------*/
/*---------------------------------------------------------------------*/
a{
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
/*  color: rgb(101, 101, 240);
    font-size: 1.5em;
    -webkit-transition: color 1s, font-size 1s;   /*Safari
    -moz-transition: color 1s, font-size 1s;      /*MozillaFirefox
    -o-transition: color 1s, font-size 1s;        /*Opera
    transition: color 1s, font-size 1s;           /*Chrome & Others
*/
}

/*---------------------------------------------------------------------*/
/*-------------------------   BOX-SHADOW PROPERTIES  ---------------------*/
/*---------------------------------------------------------------------*/
.shadowbox {
    box-shadow: 10px 10px 5px grey;
}

/*---------------------------------------------------------------------*/
/*--------------------   SOCIAL BUTTONS - REFERENCES ------------------*/
/*---------------------------------------------------------------------*/

.circle-button {

    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);    
    background-color: rgb(122, 122, 209);
}

.icon-circle-f {
    color: white;
    font-size: 30px;
    padding-top: 20%;
    padding-left: 30%;
}
.icon-circle-t {
    color: white;
    font-size: 30px;
    padding-top: 20%;
    padding-left: 20%;
}
.icon-circle-em {
    color: white;
    font-size: 30px;
    padding-top: 20%;
    padding-left: 18%;
}

/*---------------------------------------------------------------------*/
/*------------------------   CONTENT - LAYOUT -------------------------*/
/*---------------------------------------------------------------------*/

#content {
    border: 0.1px solid rgb(0, 0, 0);
    background-color: rgba(221, 221, 221, 0.11);
    box-shadow: 2px 2px 8px grey;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }


/*---------------------------------------------------------------------*/
/*------------------------   STICKY SOCIAL BAR  -----------------------*/
/*---------------------------------------------------------------------*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sticky_social_bar*/
                
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}