{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <title>Rafael García</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main.css' %}" />
  
  </head>
  <body>

    <!-- HEAD -->
    <div class="container-fluid">

        <!-- NAV BAR -->

            <nav class="navbar sticky-top navbar-expand-sm transparent-style">
                <!--<a class="navbar-brand" href="/main">LOGO</a>-->
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutme">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cv">CV</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/skills">Skills</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/files">Cloud Files</a>
                        </li>
                    </ul>
                </div>
            </nav>    
            
            <!--// NAV BAR -->

            <!-- VIDEO -->
            
            <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50"/>
                <source src="{% static 'admin/video/Saigon_3840x2160.mp4' %}" type="video/mp4" />
            </video/>
            
            <!--// VIDEO -->

    </div>
    <!--// HEAD -->
      
    <div id="name" class="container-fluid">
            <div class="container text-center">
                <h1 class="display-2 text-white">Rafael García Cuéllar</h1>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
